@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-500 font-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-700 font-semibold;
  }
}

@layer components {
}

@layer utilities {
  .container-homepage {
    max-width: 1080px;
  }
}

.sticky-nav {
  position: sticky;
  z-index: 10;
  top: 0;
  backdrop-filter: saturate(180%) blur(25px);
}
