@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-gray-600 font-normal;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-gray-900 font-semibold;
  }
}

@layer components {
}

@layer utilities {
  .container-homepage {
    max-width: 1080px;
  }

  .blur {
    backdrop-filter: saturate(180%) blur(30px);
  }

  .off-screen {
    transform: translateY(-200px);
  }
}

.show-menu:hover :last-child {
  opacity: 1;
  transform: translateY(0);
}
